@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

body{
    background: url(./assets/background.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

:root{
    --border: 1px solid rgba(255,255,255,0.5) ;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    width: fit-content;
    margin: auto;
}

.profile-container{
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    padding: clamp(3em, 10vw, 6em) clamp(3em, 10vw, 8em);
    border: var(--border);
    backdrop-filter: blur(2px);
    transition: all 200ms ease-in;
}

#title{
    padding: 10px;
}

#changepwd,#logout{
    isolation: isolate;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.1);
    border: var(--border);
    cursor: pointer;
    position: relative;
    font-weight: bold;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
#changepwd:before,#logout:before{
    z-index: -1;
    content: "";
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0 0;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: all 200ms ease-out;
}
#changepwd:hover::before,#logout:hover::before{
    transform: scaleY(1);
}
#changepwd:hover{
    color: black;
}
#logout a{
    text-decoration: none;
}
#logout:hover a{
    color: black;
}

.photo-container{
    display: flex;
    /* background-color: red; */
    padding: 0;
    margin: auto;
    height: 10vh;
    width: 10vh;
}

.photo-container img{
    position: relative;
    filter: invert(1);
}