@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

body{
    background: url(./assets/background.jpg);
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

:root{
    --border: 1px solid rgba(255,255,255,0.5) ;
    --container-color: rgba(255, 255, 255, 0.1);

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50vh;
    translate: 0 -50%;
}

.signupform-box{
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100%;
    align-items: center;
    border: var(--border);
    font-size: 1rem;
    text-align: center;
    height: 75%;
    padding: clamp(1em,10vh,4em) clamp(2em,10vw,5em);
    backdrop-filter: blur(2px);
    transition: all 200ms ease-in;
}


.form-value h2{
    margin-bottom: 10px;
    font-size: 1.75em;
}

input[type=email],input[type=text]{
    border: var(--border);
    background-color: var(--container-color);
    position: relative;
    width: 17rem;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 10px;
    color: white;
}

button{
    isolation: isolate;
    padding: 10px 25px;
    background-color: rgba(200, 200, 200, 0.1);
    border: var(--border);
    cursor: pointer;
    position: relative;
    font-size: 1em;
    font-weight: bold;
    margin: 15px;
}

button:before{
    z-index: -1;
    content: "";
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0 0;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: all 200ms ease-out;
}
button:hover::before{
    transform: scaleY(1);
}
button:hover{
    color: black;
}
.error {
    color: #a94442; 
    font-weight: 500;
    text-align: center;
    padding-bottom: 15px;
}